
body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  border: 1px solid gray;
  margin: 10px;
  padding: 6px;
}

#team-members .member img {
  display: inline;
  max-width: 200px;
  max-height: 200px;
  margin: 1em;
}

#team-members .member img:hover {
  -webkit-filter: blur(5px)
}

#team-members .member div.name {
  text-align: center;  
}